@model LetsTravel.Models.LoginModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="~/Styles/ValidationStyles.css" rel="stylesheet" />
   
    <meta charset="UTF-8">
    <link href="~/Styles/stylesForForm.css" rel="stylesheet" />
    <title>Let`s Travel!</title>

</head>

<body>

    <div class="login-block">
        <h1>Welcome</h1>
        @Html.ValidationSummary()
        @using (Html.BeginForm())
        {
           @*@Html.AntiForgeryToken()*@
            <div class="form-group">            
                @Html.TextBoxFor(x => x.Nickname,  new { @id = "username", placeholder = Html.DisplayNameFor(n => n.Nickname) })
            </div>
            <div class="form-group">
                @Html.PasswordFor(x => x.Password, new { @id = "password", placeholder = Html.DisplayNameFor(n => n.Password) })
            </div>
            <button type ="submit">Sign in</button>
            <button>
                @Html.ActionLink("Register!", "Register" )
            </button>
           
        }
    </div>
</body>

</html>