body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-center {
	margin: 0 auto;
}

footer {
    margin: 50px 0;
}

#text-about {
    color: white !important;
}

.img-circle {
    height: 200pt;
    width: 150pt;

}