body {
    background-image: url('../Images/profileBackground.jpg');
     overflow-y: auto ! important;
        overflow-x: auto ! important;
    -webkit-font-smoothing: subpixel-antialiased;
    background-size:     cover;                     
    background-repeat:   repeat;
    background-size: 100% 100%;
    line-height: 1.42857143;
    color: #333;
}

html {
    height: 100%
}

.section-home {
    z-index: 88;
    opacity: 1;
    overflow-y: auto;
}


.section-vcardbody {
    position: absolute;
    margin-top: 30px;
    left: 30%;
    width: 40%;
    padding: 10px;
    padding-bottom: 20px;
    max-height: 470px;
    min-height: 100px;
    height: 100vh;
    width: 99%;
    margin: 0 auto;
    overflow-y: auto;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    border-top: 6px solid;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-bottom: 15px solid white;
    overflow-y: auto;
}

.vcard-profile-pic {
    width: 150px;
    height: 170px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 0px;
    position: relative;
}

div {
    display: block;
}


.vcard-profile-description {
    text-align: left;
    padding-left: 5pt;
}

.profile-title {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
    font-size: 36px;
    letter-spacing: -2px;
    margin-bottom: 8px;
    color: #021533;
    font-style: italic;
}
.profile-subtitle {
    text-align: center;
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.vcard-profile-description-text {
    padding: 0px;
    padding-top: 0px;
    margin-bottom: 5px;
    text-align:left
}

img {
    vertical-align: middle;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#font-style {
    font-size: 20px !important;
    font-style: italic !important;
    font-weight: bold;
    font-family: "Libre Baskerville", serif !important;
}
