
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";  
}



<div class="header-content">
    <div class="header-content-inner">
        <h1>Let's travel</h1>
        <p>People must help each other.</p>
        @Html.ActionLink("Register Now", "Register", null, new { @class = "btn btn-primary btn-lg" })
    </div>
</div>